*{
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #d3d3d3, #001f3f);
  background-repeat: no-repeat; /* Just in case */
  background-attachment: fixed;
}

.container {
  text-align: center;
}

.header {
  padding: 20px 0;
}

.header-image {
  background-image: url('../images/icenter.png'); /* Replace with your image */
  background-repeat: no-repeat;
  background-position: center;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;

}

.header-image h1 {
  margin: 0;
  line-height: 0.9;
    font-size: 3.5em;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  background: #00000055;
}

/*content-box*/

.content-box {
  background-color: white;
  margin: 30px auto;
  width: 90%;
  max-width: 900px;
  padding: 40px;
  box-shadow: 5px 5px 0px black;
  min-height: 400px;
}

#table{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(4,1fr);

  border: solid rgb(51, 62, 122);
  margin-bottom: 40px;
}

.columns{
  background-color: rgb(188, 197, 204);
}

#table div{
  display: flex;
  border: solid;
  border-color: rgb(51, 62, 122);
  justify-content: center;
  align-items: center;

  padding: 10px;
}




form{
  border-radius: 20px;
  border: solid rgb(51, 62, 122) 5px;
  display: grid;
  background-color: rgb(193, 59, 59);
  grid-template-columns: 0fr 1fr;
  grid-template-rows: repeat(5,1fr);

  padding: 20px;
  gap: 20px;

  width: 300px;
}

h2{
  grid-column: 1/3;
}

label{
  display: block;
  
  align-self: center;
  text-align: left;
  
}
