body{
    margin: 0px;
}

/*
=============================
===========header============
=============================
*/
header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0fr 100px;
}

/*
===========div===============
*/
header div.e{
    grid-column: 1/3;
    grid-row: 2/10;
}
header div.e img{
    width: 100%;
}

/*
===========header============
*/

header div.ab{
    grid-column: 1/3;
    grid-row: 2/3;
    background-color: rgba(35, 55, 41, 0.727);
    display: grid;
    grid-template-columns: 1fr 10fr;
}


header div div#a1{
    display: flex;
    justify-content: center;
    align-items: center;
}

header div div#a2{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
header div div.b{
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    
}

header div div.c{
    display: flex;
    justify-content: center;
    align-items: center;
}

header div div.c img{
    width: 100px;
    border-radius: 100%;
}

/*
div.hero div.a{
    background-color: rgb(41, 245, 123);
    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
}
*/

/*
=============================
===========div adv===========
=============================
*/

div div.a#a1{
    font-style: italic;
    font-size: 40px;
    color:rgb(214, 172, 121);   
}

div div.a{
    display: flex;
    justify-content: center;
    align-items: center;
}

div div a{
    display: flex;
    justify-content: center;
    align-items: center;
}

header div#a2 a{
    color:aliceblue;
    text-decoration: none;
}


/*
=============================
===========main==============
=============================
*/
main{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows:
    3fr 10fr 3fr
    2fr 1fr 10fr 1fr 2fr 
    3fr
    ;

}
main div.a{
    margin: 0px;
    padding: 10px;
    height: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;

    
}
main div img.card-img{
    background-color: rgb(219, 202, 155);
    display: flex;
    justify-content: center;
    align-items: center;
}

main div#a1{
    grid-column: 2/4;
    grid-row:2/3;
}
main div#a2{
    grid-column: 5/7;
    grid-row:2/3;
}
main div#a3{
    grid-column: 8/10;
    grid-row:2/3;
}

main div h2{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*
main{
    background-color: aqua;
}
main div.a{
    background-color: bisque;
    
}
main div.a section{
    background-color: #6f7364;
    padding: 10px;
}*/
main img{
    height: 100px;
    width: 100px;
    
    padding: 5px;
    border-radius: 5px;
}
main div#a4{
    background-color: rgb(219, 202, 155);
    
    grid-column: 1/11;
    grid-row:4/10;
    
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 2fr 1fr 10fr 1fr 2fr;
}

main div#a4 div#b5{
    grid-column: 2/7;
    grid-row: 2/5;
    padding: 0px;
    margin: 0px;
    border: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
main div#a4 div#b5 img{
    height: 100%;
    width: 100%;
}


main div#a4 div#b6{
    background-color: #6f7364;
    grid-column: 6/10;
    grid-row: 3/4;
}

main div#a4 div#b6{
    display: block;
    padding: 10px;
}
main div#a4 div#b6 div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}
main a, div.adv a{
    background-color: rgb(219, 202, 155);
    color: black;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
}


/*
=============================
===========footer============
=============================
*/
footer{
    background-color: #6f7364;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 50px;
    margin-top: 200px;
}

footer a, footer div.a{
    color:rgb(219, 202, 155);
    margin: 10px;
}
footer div#a5{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 500px){
    header div.ab{
        grid-column: 1/3;
        grid-row: 1/2;
        background-color: rgba(35, 55, 41, 0.727);
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    header div div#a2{
        display: grid;
        grid-template-columns: 1fr;
        padding: 15px;
    }

    main div#a4{
        background-color: rgba(245, 245, 220, 0);
        grid-column: 1/11;
        grid-row:4/10;
        display: block;

    }


    #hero{
        margin-top: 0;
    }
    #hero-msg{
        margin: 0;
    }
    #hero-msg h4{
        display: none;
    }
    #hero-msg h1{
        color: #6f7364
    }
    div.s{
        font-size: 25px;
    }
    
    main{
        display: block;
    }

    main div.a{
        margin: 50px auto;
        width: 60%;
    }
    main div#a6{
        background-color: blue;
        width: 80%;
        display: block;
        margin: 0 auto;
    }

    footer {
        flex-direction: column;
        margin-top: 25px;
    }
}