body{
    background-color: antiquewhite;
    display: inline;
    margin: 0%;
}

.book, .join {
    display:inline-block;
    background-color: #d9c2a3;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    display:inline-block;
    background-color: #744f1d;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 5px;
}


/*========header=========*/
header{
    background-color: rgb(77, 88, 71);
    
    padding-top: 0%;
    margin-top: 0%;
    /*margin: 10px;*/
}
img.logo{
    width: 100px;
}
nav a{
    color: white;
    text-decoration:none;
    margin: 20px;
}
nav a:hover{
    background-color: black;
    padding: 10px;
    border-radius: 5px;
}
/*==========div===========*/
div{
    width: 100%;
    background-color:white;
}

div img#hero-img{
    width:100%;
}

div#hero{
    text-align: center;
    border-bottom: rgb(203, 179, 145) solid 5px;
    padding: 20px;
}

div h1.home-title{
    font-style: italic;
    font-size: 50px;
    color:rgb(214, 172, 121);
}

/*===========mian============*/

main{
    text-align: center;
}
main img.card-img{
    border: rgb(203, 179, 145) solid 5px;
    margin: 50px;
    margin-bottom: 0px;
}

section.msg{
    background-color:rgb(59, 78, 60);
    color:rgb(249, 218, 132);
    padding: 15px;
    margin-bottom: 25px;
}

section h2{
    margin: 0px;
}

/*==========footer==========*/

footer{
    background-color: rgb(59, 78, 60);
    padding: 10px;
}
footer p{
    color:rgb(249, 218, 132);
}
footer p a{
    color:rgb(249, 218, 132);
}
footer div{
    background-color: rgb(59, 78, 60);
}
footer div a{
    display: inline-block;
}


/*
body{
    background-color: antiquewhite;
}

header{
    background-color: rgb(105, 83, 47);
    padding-bottom: 5px;
    margin-bottom: 10px;
}

img.logo{
    width: 200px;
    border-radius: 100%;
    padding: 10px;

}
nav a{
    color:rgb(2, 2, 17);
}
nav a:hover {
    color:aliceblue;
    background-color: black;
    padding: 5px;
}





.book, .join {
    background-color: #d9c2a3;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.card-img {
    border: 10px solid #d9c2a3;
}
main section img {
    box-sizing: border-box;
}





main{
    text-align: center;
}

main img{
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;

}

section.msg{
    background-color: rgb(105, 83, 47);
    margin-bottom: 10px;
}

footer{
    background-color: rgb(105, 83, 47);
    padding: 10px;
}
footer a{
    color:black;
}
*/