body{
    margin: 0px;
}

/*


================================
============header==============
================================


*/

header{
    background-color: rgba(5, 73, 32, 0.673);
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 10px;
}
header div.a{
    height: 100px
}
header div#a1{
    display: flex;
    justify-content: center;
    align-items: center;
}
header div#a2{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
header div.b{
    display: flex;
    justify-content: center;
    align-items: center;
}

header img.logo{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}


/*


================================
============div=================
================================


*/
div img#hero-img{
    width: 100%;
}
div div#hero-msg h1{
    display: flex;
    justify-content: center;
}
div div#hero-msg h4{
    display: flex;
    justify-content: center;
}
div div#hero-msg div{
    display: flex;
    justify-content: center;
}

/* h1 h4 div
div.hero div.a{
    background-color: rgb(41, 245, 123);
    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
}
*/

/*


================================
============mian================
================================


*/
main{
    background-color: rgb(0, 255, 68);
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows:
    3fr 10fr 3fr
    2fr 1fr 10fr 1fr 2fr 
    3fr
    ;

}
main div.a{
    background-color: aquamarine;
    margin: 0px;
    height: 100px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

main div#a1{
    grid-column: 2/4;
    grid-row:2/3;
}
main div#a2{
    grid-column: 5/7;
    grid-row:2/3;
}
main div#a3{
    grid-column: 8/10;
    grid-row:2/3;
}





main div#a4{
    grid-column: 1/11;
    grid-row:4/9;
} 
main div#a5{
    background-color: rgb(206, 7, 7);
    grid-column: 2/7;
    grid-row:5/8;
    height: 200px;
}

main div#a6{
    grid-column: 6/10;
    grid-row:6/7;
}

/*


================================
============footer==============
================================


*/
footer{
    background-color: rgb(0, 81, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 50px;
    margin-top: 200px;
}

footer div.a{
    background-color: brown;
}
footer div#a5{
    background-color: bisque;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
footer div.b{
    background-color: aqua;
}



/*===================================================*/


@media screen and (max-width: 500px){
    
    header{
        background-color: rgba(5, 73, 32, 0.673);
        display: grid;
        grid-template-columns: 1fr 4fr;
        padding: 10px;
    }
    #hero{
        margin-top: 0;
    }
    #hero-msg{
        margin: 0;
    }
    #hero-msg h4{
        display: none;
    }
    #hero-msg h1{
        color: #6f7364
    }
    div.s{
        font-size: 25px;
    }
    
    main{
        display: block;
    }

    main div.a{
        margin: 50px auto;
        width: 60%;
    }
    main div#a6{
        background-color: blue;
        width: 80%;
        display: block;
        margin: 0 auto;
    }

    header div#a2{
        display: grid;
        grid-template-columns: 1fr;
    }
    footer {
        flex-direction: column;
        margin-top: 25px;
    }
}
